/**
 * CustomField
 */
ul.op-checkbox-group-any {
  display: none;
  padding: 0;
}
ul.op-checkbox-group-any[data-bca-state="open"] {
  display: block;
}
ul.op-checkbox-group-any li {
  list-style: none;
  background: none;
}
